<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post Details:</h1>
    <p>Post id: <%= post.id %></p>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <p class="content"><%= post.content %></p>
    </div>
    <a href="http://localhost:8080/posts">Back</a>
</body>
</html>